

.glossary_filter {
    float: right;
}

.glossary_filter input {
    float: left;
    clear: left;
}

.lexicon-alphabar-instructions {
    padding: 10px;
    text-align: center;
}

.vud-widget {
    float: left;
}

.field-name-field-quality .fivestar-summary {
    display: none;
}

.suggest-new {
    margin-top: -65px;
    margin-left: 350px;
}

.glossary-term dt {
    font-size: 1.2em;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    text-transform: uppercase;
    padding-bottom: 8px;
}
.glossary-term dt .lexicon-extralinks {
    font-size: 0.8em;
}

.glossary-term dd {
    padding-bottom: 10px;
}
