
.glossary_filter {
    float: right;
}

.glossary_filter input {
    float: left;
    clear: left;
}

.lexicon-alphabar-instructions {
    padding: 10px;
    text-align: center;
}

.lexicon-extralinks a {
    background-color: #eee;
    font-size: 0.6em;
    padding: 3px 6px;
}

.vud-widget {
    float: left;
    padding-right: 4px;
}

.field-name-field-quality .fivestar-summary {
    display: none;
}

.suggest-new {
    float: right;
}

.glossary-term dt {
    font-size: 1.2em;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    text-transform: uppercase;
    padding-bottom: 8px;
}

.glossary-term dt .lexicon-extralinks a {
    font-size: 0.8em;
}

.glossary-term dd {
    padding-bottom: 10px;
}

.glossary-header {
    min-height: 60px;
    background: #dff0d8;
    padding: 10px 14px;
}

.glossary-appsi-quality {
    float: right;
    margin-top: -37px;
    clear: left;
    display: block;
}

.glossary-header h2 {
    float: left;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.glossary-content {
    background-color: #fff;
    padding: 20px 15px;
}

.glossary-content .taxonomy-term p {
    padding-top: 12px;
}

.glossary .nav {
    margin-bottom: -20px;
}
