
.glossary_filter {
    float: right;
}

.glossary_filter input {
    float: left;
    clear: left;
}

.lexicon-alphabar-instructions,
.lexicon-introduction,
.alphabet-search {
    background: #fff !important;
    padding: 10px;
    margin: 0 !important;
}

.lexicon-alphabar-instructions {
    padding: 10px;
    text-align: center;
}

.lexicon-letter {
    text-align: center;
    background: #f5fff2;
    padding: 15px;
    margin-top: 15px;
}

.lexicon-extralinks a {
    background-color: #eee;
    font-size: 0.6em;
    padding: 3px 6px;
}

.vud-widget {
    float: left;
    padding-right: 4px;
}

.field-name-field-quality .fivestar-summary {
    display: none;
}

.suggest-new {
    float: right;
}

.glossary-term {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

.glossary-term dt {
    font-size: 1.2em;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    text-transform: uppercase;
    padding-bottom: 8px;
}

.glossary-term dt .lexicon-extralinks a {
    font-size: 0.8em;
}

.glossary-term dd {
    padding-bottom: 10px;
}

.glossary-header {
    min-height: 60px;
    background: #fff;
    padding: 10px 15px 15px 15px;
    margin-top: 15px;
}

.glossary-header h2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.glossary-appsi-quality {
}


.glossary-content {
    padding: 10px 0;
}

.suggested-definitions {
    margin-top: 15px;
}

.suggested-definitions ul {
    padding-left: 0;
}

.suggested-definitions li {
    list-style: none;
}

.suggested-definitions li .field-name-field-suggested-definition {
    background: #fff;
    padding: 15px;
}

.glossary .nav {
    margin-bottom: -10px;
}

.term-action {
    margin-left: 10px;
}