.infovis,
#infovis {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    display: block;
    position: relative;
    min-height: 700px;
}

.infovis {
    min-height: 50px;
}

#dgu-organogram-viz-form .form-type-select {
    float: left;
}

#dgu-organogram-viz-form .form-type-select select {
    width: 100%;
}

#dgu-organogram-viz-form .form-item-department {
    width: 83%;
    margin-right: 2%;
}
#dgu-organogram-viz-form .form-item-version {
    width: 15%;
}

@media screen and (max-width: 799px) {
    #dgu-organogram-viz-form .form-item-department {
        width: 73%;
        margin-right: 2%;
    }
    #dgu-organogram-viz-form .form-item-version {
        width: 25%;
    }
}

@media screen and (max-width: 499px) {
    #dgu-organogram-viz-form .form-item-department {
        width: 63%;
        margin-right: 2%;
    }
    #dgu-organogram-viz-form .form-item-version {
        width: 35%;
    }
}

.file-widget div.form-type-select {
    display: inline;
}
.file-widget div.form-type-select select.form-select {
    display: inline;
    width: 200px;
}
tr.preview {
    display: none;
}

tr.preview--show {
    display: table-row;
}

.organogram-preview {
    position: relative;
}
.organogram-preview-close {
    border:0;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 24px;
    background-color: transparent;
    z-index: 999;
}
.organogram-help {
    text-align: center;
}
.organogram-help div{
    display: inline-block;
    padding: 30px;
    width: 20%;
    text-align: left;
    background-color: #fff;
    margin-left: 70px;
    margin-right: 70px;
}

form#ckan-publisher-form legend {
    display: none;
}

form#ckan-publisher-form fieldset {
    padding: 0;
    background: none;
}
form#ckan-publisher-form #edit-submit,  form#ckan-publisher-form #edit-cancel {
    display: none;
}
.form-type-managed-file {
    text-align: center;
}
.field-name-field-organogram table.table {
    margin: 0 auto;
}

.field-name-field-organogram fieldset {
    border: none;
    box-shadow: none;
}

.field-name-field-organogram .panel-body {
    padding: 0;
}

.field-name-field-organogram .outstanding {
    color: #f00;
}

.sign-off .checkbox input {
    margin: auto !important;
}

div.chart {
    position: relative;
    width: 100%;
}

.organogram-preview-content {
    padding-top: 32px;
}

#edit-field-organogram-und-ajax-wrapper .tabledrag-toggle-weight{
    display: none;
}

canvas {
    cursor:move;
}

div.infovis
{
    padding-top:32px;
    bottom:0;
    height:50%;
    left:0;
    margin:auto;
    overflow:hidden;
    width:100%;
}
.infobox,
#infobox
{
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;
    background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    color:#333333;
    display:none;
    height:auto;
    margin-bottom:20px;
    overflow-x:hidden;
    overflow-y:auto;
    padding:0 0 5px;
    position:absolute;
    right:25px;
    top: 25px;
    width: 290px;
    z-index:999;
}
body.IE8 div.infobox,
body.IE8 div#infobox {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777')";
}
body.IE7 div.infobox,
body.IE7 div#infobox {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777');
}
.infobox .ui-accordion .ui-accordion-content,
.infobox div.panel div.content,
#infobox .ui-accordion .ui-accordion-content,
#infobox div.panel div.content {
    border-top:0 none;
    margin-bottom:2px;
    margin-top:-2px;
    overflow:auto;
    padding:0 !important;
    position:relative;
    top:1px;
}

.infobox .ui-accordion .ui-accordion-header,
#infobox .ui-accordion .ui-accordion-header
{
    cursor:pointer;
    margin-top:3px !important;
    position:relative;
}

.infobox .ui-accordion-header-icon,
#infobox .ui-accordion-header-icon {
    display: none;
}

/* UI Overrides
 Infobox */
.infobox .ui-accordion .ui-accordion-header a,
#infobox .ui-accordion .ui-accordion-header a
{
    font-size:0.8em !important;
    padding:0.3em 0.5em !important;
    text-align:right !important;
    color: #fff;
}

.infobox .ui-accordion-content,
#infobox .ui-accordion-content
{
    overflow:auto;
    padding-bottom:0 !important;
    padding-top:0 !important;
}

.infobox h1,
#infobox h1
{
    border-bottom:1px solid #CCCCCC;
    font-size:14px;
    margin-bottom:0;
    margin-left:0;
    margin-top:0;
    padding:10px 30px;
    text-align:center;
    line-height: 20px;
    font-weight: bold;
}

.infobox h2,
#infobox h2
{
    color:#999999;
    font-size:0.9em;
    font-weight:normal;
    margin:0;
    padding:0;
}

.infobox h3,
#infobox h3
{
    background: #8bc658;
    font-size:16px !important;
    border: none;
    border-radius: 0;
}

.infobox hr,
#infobox hr
{
    border-color:#-moz-use-text-color #-moz-use-text-color #EEEEEE;
    border-style:none none double;
    border-width:medium medium 3px;
    padding-top:10px;
}

.infobox p a.expand,
#infobox p a.expand
{
    color:#333333;
    font-weight:bold;
    text-decoration:none;
}

.infobox p a.expand:hover,
#infobox p a.expand:hover
{
    color:#3970AE;
    font-weight:bold;
}

.infobox p.comment,
#infobox p.comment
{
    padding-bottom: 0;
}

.infobox p.comment span,
#infobox p.comment span
{
    font-style:normal;
    margin-bottom: 0px;
}

.infobox p.comment span.text,
.infobox p.notes span.text,
#infobox p.comment span.text,
#infobox p.notes span.text {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #333333;
    display: block;
    font-family: Georgia !important;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    max-height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3px 0;
    height:expression( this.scrollHeight > 74 ? "75px" : "auto" );
}

.infobox p.type,
#infobox p.type
{
    text-transform:capitalize;
}

.infobox ul.members,
#infobox ul.members
{
    border-bottom:1px solid #EEEEEE;
    display:none;
    font-family:georgia;
    list-style-type:none;
    margin:0;
    max-height:300px;
    overflow-y:auto;
    padding:5px 0;
    text-align:left;
}

.infobox ul.members li,
#infobox ul.members li
{
    padding-bottom:15px;
}

.infobox ul.members li span.memberType,
#infobox ul.members li span.memberType
{
    color:#999999;
    display:block;
    font-style:italic;
    padding-left:15px;
    padding-top:1px;
}

.infobox ul.members li span.name,
#infobox ul.members li span.name
{
    display:block;
    font-weight:bold;
}

.infobox ul.members li span.salary,
#infobox ul.members li span.salary
{
    float:right;
    margin-right:10px;
    margin-top:-20px;
}

.infobox ul.salaryMap,
#infobox ul.salaryMap
{
    display:block;
    margin:0;
    padding:0;
    position:absolute;
    visibility:hidden;
}

.infobox a.close,
#infobox a.close {
    background-color: #aaa;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    padding: 1px 5px 2px;
    position: absolute;
    right: 7px;
    top: 7px;
    margin: 0 !important;
    opacity: 1;
}

div.expander
{
    clear:both;
    font-size:12px;
}

/* Node styles */
div.node
{
    background-color:#fff;
    color: #000000;
    border:1px solid #AAAAAA;
    padding:5px 3px 0;
    height: auto;
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    padding-top: 3px;

}
div.node.selected {
    border:3px solid #333333 !important;
}
div.node span.heldBy {
    background-color: #8bc658;;
    border: 1px solid #333333;
    bottom: -11px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: -38px;
    padding: 2px 4px;
    position: absolute;
    right: -10px;
}
div.node span.postIn
{
    background: #8bc658;;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    margin-left: -3px;
    margin-top: 5px;
    padding: 2px 3px;
    position: relative;
    width: 169px;
}

div.node.juniorPost span.jp_grade
{
    width: 168px;
}

div.node.juniorPost.selected span.jp_grade,
div.node.selected span.postIn
{
    width: 164px;
}

div.node.juniorPost
{
    padding: 0;
}

/* New Infobox */
div.panel
{
    background-color:#FFFFFF;
    color:#333333;
    font-size:0.9em;
    padding:5px !important;
    width:280px !important;
}

div.panel div.content img
{
    border:1px solid #DDDDDD;
    display:none;
    float:left;
    margin-top:0;
    padding:5px;
    width:60px;
}

div.panel div.content img.salaryReports
{
    border:medium none;
    display:inline;
    position: absolute;
    right: 0;
    margin-right:5px;
    margin-top:1px;
    padding:0;
    width:auto;
}

div.panel div.content p
{
    display:inline-block;
    float:right;
    font-family:Georgia;
    font-weight:normal;
    margin:0;
    overflow: hidden;
    padding:0 0 5px 5px;
    text-align:left;
    width:273px !important;
    word-wrap:break-word;
}

div.panel div.content p span
{
    background:none repeat scroll 0 0 #fff;
    border-bottom:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    color:#888888;
    display:block;
    font-family:"Lucida Grande",Verdana;
    font-size:11px;
    font-weight:bold;
    margin-bottom:5px;
    letter-spacing: 0px;
    margin-left:-5px;
    padding:1px 1px 1px 5px;
}
div.panel div.content p span.value {
    float:left;
    display: inline-block;
    background:none;
    border:none;
    color:#333333;
    font-family:Georgia;
    font-size:100%;
    font-weight:normal;
    margin:0px;
    letter-spacing: 0px;
    padding:0px;
    word-wrap: break-word;
}
div.panel div.content p.email span.value {
    width:270px;
}
div.panel div.content p.unit span.value {
    width:230px;
}
div.panel div.content p span.date {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #CCCCCC;
    display: inline;
    float: right;
    margin: 0 5px 0 0;
    padding: 0;
}
div.panel div.content p.grade span.g
{
    border:1px solid #999999;
    font-family:Arial;
    font-weight:normal !important;
    padding:2px 3px;
    text-align:center;
}
div.panel div.content p.salary span.value, div.panel div.content p.salaryReports span.value {
    letter-spacing: 1px !important;
}
a.data
{
    background: none repeat scroll 0 0 #999999;
    border: 1px solid #666666;
    color: #fff;
    display: inline;
    float: right;
    font-family: "Lucida Grande",Verdana;
    font-size: 9px;
    font-weight: bold;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    letter-spacing: 0px;
    position: relative;
    right: 0;
    text-decoration: none !important;
    text-shadow: 1px 1px #666666;
    text-transform: uppercase;
    word-wrap: normal !important;
}

a.data:hover
{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #555555;
    text-shadow: 1px 1px #FFFFFF;
    text-decoration: none !important;
}
a.center_organogram {
    position:relative;
    float: right;
}
div.panel h3
{
    color:#333333;
    font-size:14px !important;
    margin:0;
    padding:0;
    text-align:left;
}

div.panel h3 a.name
{
    cursor:pointer;
    text-align:right;
    text-decoration:none;
    font-weight: bold;
}
div.juniorPost {
    background-color: #6A6A6A;
    /*font-family: Helvetica;
    font-size: 11px !important;*/
    /*font-weight: bold;*/
    height: 35px !important;
    line-height: 32px;
    /*text-transform: uppercase;*/
}
div.juniorPost span.heldBy {
    border: 1px solid #9A9A9A;
    bottom: -13px;
    color: #000000;
    background-color:#FFFFCC !important;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px 5px;
    position: absolute;
    text-align: center;
    width: auto;
}
div.jp_parent {
    color:#FFFFFF !important;
}
div.jp_group {
    color:#CEF9D2 !important;
    /*font-size: 10px !important;*/
    height: auto !important;
    line-height: 18px !important;
}
div.jp_child {
    color:#E6D9FF !important;
    /*font-size:10px !important;*/
    line-height: 18px !important;
    height:auto !important;
    /*cursor: default !important;*/
}
div.jp_none {
    border: 1px dashed #333333 !important;
    background-color: #CCCCCC;
    font-weight: normal;
    cursor: default !important;
}

div.jp_none span.heldBy {
    display: none;
}
div.jp_child span.jp_grade {
    background-color: #555555;
    color: #FFFFFF;
    display: block;
    width:168px;
}
div.node span.childLoader {
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #fff;
    border-color: #AAAAAA #AAAAAA #AAAAAA #fff;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0px;
    display: none;
    height: 20px;
    padding: 0 0 0;
    position: inherit;
    right: -15px;
    top: 2px;
    vertical-align: middle;
    width: 20px;
    z-index: 999;
}
div.node div.jp_group_selector {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    background-color: #343434;
    display: none;
    margin-left: 35px;
    margin-top: 3px;
    position: absolute;
    width: 100px;
    z-index: 99;
}
body.IE7 div.node div.jp_group_selector {
    left:0px;
    top:35px;
}
div.node div.jp_group_selector ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
}
div.node div.jp_group_selector ul li {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #333333;
    /*font-size: 9px;*/
    height: 20px;
    line-height: 20px;
    margin: 2px;
}
div.node div.jp_group_selector ul li:hover {
    cursor: pointer;
    background-color: #999999;
    color: #FFFFFF;
}
div.node div.jp_group_selector ul li.selected {
    background-color: #333333;
    color: #FFFFFF;
}
div.jp_group span.jp_grade {
    background-color: #555555;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 10px !important;
    font-weight: normal;
    width: 168px;
}
body.IE7 div.node span.childLoader {
    position:relative;
    border:none;
    right:0;
    top:0;
}
div.node span.childLoader img {
    position: static;
    width: 10px;
}
div#login {
    display: none;
}
div#login form {

}
div#login form fieldset {

}
div#login form legend {

}
div#login form label {

}
div#login form input {

}
div#login p.login-message {
    display: none;
}
div#login p.login-failed {
}
div#login p.login-success {
}
div#login p.logging-in {
}

h1 .ui-selectmenu-menu li a, .ui-selectmenu-status {
    line-height: 15px;
}
div.infobox .ui-accordion .ui-accordion-header .ui-icon {
    float: left;
    left: 0.5em;
    margin-top: 3px;
    position: relative;
    width: 15px;
    top:0;
}

/* starts new categorybox */
#categorybox
{
    -moz-border-radius:10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;
    background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    border-radius:10px 10px 10px 10px;
    color:#333333;
    display:none;
    height:auto;
    margin-bottom:20px;

    padding:0 0 5px;
    position:absolute;
    left:135px;
    top:55px;
    z-index:999;
}

#categorybox .panel {
    width: 400px !important;
}
body.IE8 div#categorybox {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777')";
}
body.IE7 div#categorybox {
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777');
}
#categorybox .ui-accordion .ui-accordion-content, #categorybox div.panel div.content {
    border-top:0 none;
    margin-bottom:2px;
    margin-top:-2px;
    padding:0 !important;
    position:relative;
    top:1px;
}

#categorybox .ui-accordion .ui-accordion-header
{
    cursor:pointer;
    margin-top:3px !important;
    position:relative;
}

/* UI Overrides
 Infobox */
#categorybox .ui-accordion .ui-accordion-header a
{
    font-size:0.8em !important;
    padding: 3px 5px 3px 22px !important;
    text-align:right !important;
}


#categorybox h1
{
    border-bottom:1px solid #CCCCCC;
    font-size:14px;
    margin-bottom:0;
    margin-left:0;
    margin-top:0;
    padding:10px 30px;
    text-align:center;
}

#categorybox h2
{
    color:#999999;
    font-size:0.9em;
    font-weight:normal;
    margin:0;
    padding:0;
}



#categorybox p a.expand
{
    color:#333333;
    font-weight:bold;
    text-decoration:none;
}

#categorybox p a.expand:hover
{
    color:#3970AE;
    font-weight:bold;
}

div#categorybox .ui-accordion .ui-accordion-header .ui-icon {
    float: left;
    left: 0.5em;
    margin-top: 3px;
    position: relative;
    width: 15px;
    top:0;
}
a.categorydata
{
    background: none repeat scroll 0 0 #999999;
    border: 1px solid #666666;
    color: #fff;
    display: block;
    font-family: "Lucida Grande",Verdana;
    font-size: 9px;
    font-weight: bold;
    padding: 1px 3px;
    letter-spacing: 0px;
    position: relative;
    right: 0;
    text-decoration: none !important;
    text-shadow: 1px 1px #666666;
    text-transform: uppercase;
    word-wrap: normal !important;
}

a.categorydata:hover
{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #555555;
    text-shadow: 1px 1px #FFFFFF;
    text-decoration: none !important;
}

#right .sign-off {
    margin-top: 20px;
    font-size: 1.2em;
}

#live-link {
    padding: 1px 1px 1px 5px;
    color: #fff;
    background: #000;
    position: fixed;
    top: 34px;
    left:0;
    z-index: 10000;
}

#live-link a {color: #fff; text-decoration: underline;}


#edit-field-organogram-und span.file {
    display: block;
}
#edit-field-organogram-und span.file a {
    color: #000;

}
#edit-field-organogram-und td{
    vertical-align: inherit;
}

#edit-field-organogram-und .form-type-managed-file .input-group {
    margin: auto;
}

#edit-field-organogram-und .input-group .input-group-btn,
#edit-field-organogram-und .input-group .form-control {
    display: inline;
}

#edit-field-organogram-und .alert,
#edit-field-organogram-und-table .information {
    text-align: left;
}

#edit-field-organogram-und-table .operations {
    text-align: right;
}

table.sticky-header {
    display: none;
}

.form-item-publishers label {
    vertical-align: top;
    margin-top: 3px;
}